<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrp.blog.mapper.BlogMapper">
    <resultMap id="blog" type="com.xrp.blog.pojo.Blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="flag" column="flag"/>
        <result property="views" column="views"/>
        <result property="updateTime" column="update_time"/>
        <result property="typeId" column="type_id"/>
        <result property="firstPicture" column="first_picture"/>
        <result property="shareStatement" column="share_statement"/>
        <result property="published" column="published"/>
        <result property="appreciation" column="appreciation"/>
        <result property="commentabled" column="commentabled"/>
        <result property="description" column="description"/>
        <result property="recommend" column="recommend"/>
        <result property="createTime" column="create_time"/>
        <result property="typeId" column="type_id"/>
        <result property="userId" column="user_id"/>

        <association property="type" javaType="com.xrp.blog.pojo.Type">
            <id property="id" column="typeid"/><!--别名-->
            <result property="name" column="typename"/>
        </association>

        <association property="user" javaType="com.xrp.blog.pojo.User">
            <id property="id" column="uid"/>
            <result property="nickname" column="nickname"/>
            <result property="username" column="username"/>
            <result property="email" column="email"/>
            <result property="avatar" column="avatar"/>
        </association>
        <collection property="tags" ofType="com.xrp.blog.pojo.Tag">
            <id property="id" column="tagid"/>
            <result property="name" column="tagname"/>
        </collection>
    </resultMap>
    <select id="getType" resultType="com.xrp.blog.pojo.Type">
        select * from type where id=#{id};
    </select>
    <select id="getUser" resultType="com.xrp.blog.pojo.User">
        select * from user where id=#{id};
    </select>

    <delete id="deleteById">
        delete from blog where id = #{id}
    </delete>

    <select id="getIndexBlog" resultMap="blog">  /*主页博客展示*/
    select b.id, b.title, b.first_picture, b.views, b.update_time, b.description,
           t.name typename, t.id typeid,
           u.nickname, u.avatar
    from blog b, type t, user u
    where b.type_id = t.id and  u.id = b.user_id
    order by b.update_time desc
    </select>
    <select id="getAllBlog" resultMap="blog">  /*后台博客展示*/
    select b.id, b.title, b.update_time, b.recommend, b.type_id, b.published,
           t.id typeid, t.name typename
    from blog b, type t
    where b.type_id = t.id    /*博客类型id=类型id*/
    order by b.update_time desc
    </select>

    <select id="getByTypeId" resultMap="blog">
        select b.id, b.title, b.first_picture, b.views, b.update_time, b.description,
        t.name typename, t.id typeid,
        u.nickname, u.avatar
        from blog b, type t, user u
        where b.type_id = t.id and u.id = b.user_id and b.type_id = #{typeId} order by b.update_time desc
    </select>

    <select id="getByTagId" resultMap="blog">
        select b.id, b.title, b.first_picture, b.views, b.update_time, b.description,
        t.name typename, t.id typeid,
        t1.name tagname, t1.id tagid,
        u.nickname, u.avatar
        from blog b, type t, user u, blog_tags tb, tag t1
        where b.type_id = t.id and u.id = b.user_id and tb.blog_id = b.id and tb.tag_id = t1.id and t1.id = #{tagId}
        order by b.update_time desc
    </select>

    <select id="getRecommendBlog" resultMap="blog">
        select id, title, recommend
        from blog
        where recommend = true
        order by update_time desc limit 0,${size}
    </select>

    <!--根据id获取文章-->
    <select id="getById" resultMap="blog"> /*后台展示博客*/
        select b.id, b.published, b.flag, b.title, b.content, b.type_id,
        b.tag_ids, b.first_picture, b.description, b.recommend,
        b.share_statement, b.appreciation, b.commentabled
        from blog b
        where  b.id = #{id};
    </select>

    <select id="getDetailedBlog" resultMap="blog">  /*博客详情*/
        select b.id, b.first_picture, b.flag, b.title, b.content, b.views,
        b.update_time,b.commentabled, b.share_statement, b.appreciation,
        u.nickname, u.avatar,
        tag.id tagid, tag.name tagname
        from blog b, user u, tag , blog_tags tb
        where b.user_id = u.id and tb.blog_id = b.id and tb.tag_id = tag.id and  b.id = #{id}
    </select>

    <!--搜索文章-->
    <select id="findByQuery" resultMap="blog">
        <bind name="pattern" value="'%' + query + '%'" />
        select b.id, b.title, b.first_picture, b.views, b.update_time, b.description,
        t.name typename,
        u.nickname, u.avatar
        from blog b, type t, user u
        where b.type_id = t.id and  u.id = b.user_id and (b.title like #{pattern} or b.content like  #{pattern})
        order by b.update_time desc
    </select>

    <resultMap id="blogQ" type="com.xrp.blog.vo.QueryResult">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="updateTime" column="update_time"/>
        <result property="recommend" column="recommend"/>
        <result property="published" column="published"/>
        <result property="typeId" column="type_id"/>
        <association property="type" javaType="com.xrp.blog.pojo.Type">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
    <select id="findByTitleOrTypeOrRecommend" parameterType="com.xrp.blog.vo.BlogQuery" resultMap="blogQ">
        <bind name="pattern" value="'%' + title + '%'" />    /*模糊查询*/
        select b.id, b.title, b.update_time, b.recommend, b.published, b.type_id, t.id, t.name
        from blog b ,type t
        <where>
            <if test="1 == 1">
                b.type_id = t.id    /*博客类型id=类型id*/
            </if>
            <if test="typeId != null">
                and b.type_id = #{typeId}       /*根据博客类型查询*/
            </if>
            <if test="recommend != null">
                and b.recommend = #{recommend}   /*根据博客推荐查询*/
            </if>
            <if test="title != null">
                and b.title like #{pattern}   /*根据博客title模糊查询*/
            </if>
        </where>
    </select>

    <update id="update" parameterType="com.xrp.blog.pojo.Blog">
        update blog set published = #{published},flag = #{flag} ,
        title = #{title}, content = #{content}, type_id = #{typeId}, tag_ids = #{tagIds},
        first_picture = #{firstPicture} , description = #{description} , recommend = #{recommend} ,
        share_statement = #{shareStatement}, appreciation = #{appreciation},
        commentabled = #{commentabled} ,update_time = #{updateTime} where id = #{id};
    </update>

    <!--useGeneratedKeys="true"；使用自增主键获取主键值策略
        keyProperty；指定对应的主键属性，也就是mybatis获取到主键值以后，将这个值封装给javaBean的哪个属性
    -->
    <insert id="save" parameterType="com.xrp.blog.pojo.Blog" useGeneratedKeys="true" keyProperty="id">
        insert into blog (title, content, first_picture, flag,
        views, appreciation, share_statement, commentabled,published,
        recommend, create_time, update_time, type_id, tag_ids, user_id, description)
        values (#{title}, #{content}, #{firstPicture}, #{flag}, #{views}, #{appreciation},
        #{shareStatement}, #{commentabled}, #{published}, #{recommend}, #{createTime},
        #{updateTime}, #{typeId}, #{tagIds},#{userId}, #{description});
    </insert>

    <insert id="saveBlogAndTag" parameterType="com.xrp.blog.vo.BlogAndTag">
        insert into blog_tags (tag_id, blog_id) values (#{tagId},#{blogId});
    </insert>

    <delete id="deleteTag">
        delete from blog.blog_tags where blog_id = #{id}
    </delete>

    <select id="findGroupYear" resultType="String">
        select DATE_FORMAT(b.update_time, '%Y') from blog b order by b.update_time desc
    </select>

    <select id="findByYear" resultMap="blog">
        select b.title, b.create_time, b.id, b.flag
        from blog b
        where DATE_FORMAT(b.create_time, '%Y') = #{year}
        ORDER BY create_time desc
    </select>

    <update id="updateViews">
        update blog set
        views = views + 1
        where id =#{id}
    </update>

    <select id="count">
        select count(*) from blog;
    </select>

</mapper>
